## VARIABLES

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [32]:
my_variable=2
print(my_variable)

2


2) Imprimir el tipo de dato de la constante 8.5

In [33]:
type(8.5)

float


3) Imprimir el tipo de dato de la variable creada en el punto 1

In [35]:
type(my_variable)

int

4) Crear una variable que contenga tu nombre

In [56]:
mi_nombre= "Damian"
mi_apellido= ' Alonso' 
print(mi_nombre + mi_apellido)

Damian Alonso

5) Crear una variable que contenga un número complejo

In [57]:
Numero_Complejo= 1 + 1j

complex

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [58]:
type(Numero_Complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [59]:
Numero_Pi=3.1416
type(Numero_Pi)

float

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [26]:
Variable_a= "True"
Variable_b = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [39]:
print('La variable a es de tipo', type(Variable_a),'y la variable b es de tipo', type(Variable_b))

La variable a es de tipo <class 'str'> y la variable b es de tipo <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [40]:
Variable_c= 4 + 10.5

11) Realizar una operación de suma de números complejos

In [42]:
variable_d= 2 + 1j
variable_e= 3 + 2j
print(variable_d + variable_e)

(5+3j)

12) Realizar una operación de suma de un número real y otro complejo

In [43]:
variable_f= 5.6
variable_g= 4 + 1j
print(variable_f + variable_g)

(9.6+1j)

13) Realizar una operación de multiplicación

In [44]:
print(Variable_c * 2)

29.0

14) Mostrar el resultado de elevar 2 a la octava potencia

In [45]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [46]:
variable_h= 27/4
print(variable_h)

6.75

16) De la división anterior solamente mostrar la parte entera

In [47]:
variable_i= 27//4
print(variable_i)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [48]:
variable_j= 27 % 4
print(variable_j)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [51]:
4 * variable_i + variable_j

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [55]:
variable_k= 'Buen' 
variable_m= ' Día!!!'
print(variable_k + variable_m)

Buen Día!!!

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [60]:
2 == '2'

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [63]:
'2'==str(2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [74]:
a= float('3.8')
print(type(a) , 'se debe usar punto y no coma')

<class 'float'> se debe usar punto y no coma

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [78]:
b = 3
b -=2
print(b)

1

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [80]:
1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [81]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [82]:
2 + int('2')

4

In [83]:
float('2') + 2

4.0

In [85]:
str(2) + '2'

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [87]:
d = 'ja'
print(d*4)

jajajaja

In [102]:
e = ' este texto se repite '
f= 3
print(e *  f + str(f) , 'veces')

 este texto se repite  este texto se repite  este texto se repite 3 veces